<!DOCTYPE html>
<html>
    <head>
        <title>Game Scoreboard</title>
    </head>

    <body>
        <h1>Game Scoreboard</h1>

        <form method="POST" action="/create">
            Player Name: <input name="player_name" type="text" placeholder="Player Name" required><br>
            Game Title: <input name="game" type="text" placeholder="Game Title" required><br>
            Score: <input name="score" type="number" placeholder="Score" required><br> 
            <input type="submit">
        </form>
    </body>
</html>
